body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f9;
  color: #333;
}

h1 {
  color: #ffcc00;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  color: #ff9900;
  font-size: 28px;
  margin-bottom: 15px;
  border-bottom: 2px solid #ff9900;
  padding-bottom: 5px;
}

h3 {
  color: #ff9900;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

h4 {
  color: #ff9900;
  font-size: 20px;
  margin-bottom: 10px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

div {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.dowload-view {
  display: inline-block;
  background-color: #ffcc00;
  color: #333;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.dowload-view:hover {
  background-color: #ff9900;
  color: white;
}

/* Styling for the tab bar */
.tab-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

.tab-bar li {
  float: left;
}

.tab-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tab-bar li a:hover {
  background-color: #111;
}
