body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f9;
  color: #333;
}

h1 {
  color: #ffcc00;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  color: #ff9900;
  font-size: 28px;
  margin-bottom: 15px;
  border-bottom: 2px solid #ff9900;
  padding-bottom: 5px;
}

h3 {
  color: #ff9900;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

h4 {
  color: #ff9900;
  font-size: 20px;
  margin-bottom: 10px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

div {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.dowload-view {
  display: inline-block;
  background-color: #ffcc00;
  color: #333;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.dowload-view:hover {
  background-color: #ff9900;
  color: white;
}

/* Styling for the tab bar */
.tab-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  text-align:center;
}

.tab-bar li {
  display:inline-block;
}

.tab-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tab-bar li a:hover {
  background-color: #111;
}

/* Team Members*/
.team-section{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 20px;
}

.member-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  padding: 20px;
}
.member-container:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.member-container img {
  width: 150px;  
  height: 150px; 
  object-fit: cover; 
  border-radius: 50%;
}

.info-container {
  margin-top: 10px;
}

.info-container h2 {
  font-size: 22px;
  color: #000000;
  margin-bottom: 10px;
}

.info-container h3 {
  font-size: 20px;
  color: #ff9900;
  margin: 15px 0 10px;
}
.info-container p {
  font-size: 16px;
  color: #333;
}
.info-container p0 {
  font-size: 16px;
  color: #ffffff;
}





